{% extends 'film/base.html' %}
{% block mainbody %}
<div class="fed-main-info fed-min-width">
<div class="fed-part-case">
<div class="fed-part-layout fed-part-rows fed-back-whits">
	<div class="fed-col-xs12 fed-col-sm8 fed-col-md9">
		<dl class="fed-deta-info fed-margin fed-part-rows fed-part-over">
	<dt class="fed-deta-images fed-list-info fed-col-xs3">
		<a class="fed-list-pics fed-lazy fed-part-2by3" href="/film/detail/?name={{ movie.nameMd5 }}" data-original="{{ movie.image }}">
			<span class="fed-list-play fed-hide-xs"></span>
						<span class="fed-list-score fed-font-xii fed-back-green">{{ movie.score }}</span>
						<span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">{{ movie.totalPlay }}播放</span>
		</a>
	</dt>
	<dd class="fed-deta-content fed-col-xs7 fed-col-sm8 fed-col-md10">
		<h1 class="fed-part-eone fed-font-xvi">{{ movie.name }}</h1>
		<ul class="fed-part-rows">
			<li class="fed-col-xs12 fed-col-md6 fed-part-eone"><span class="fed-text-muted">主演：</span>{{ movie.star}}</li>
			<li class="fed-col-xs12 fed-col-md6 fed-part-eone"><span class="fed-text-muted">导演：</span>{{ movie.director }}</li>
			<li class="fed-col-xs6 fed-col-md3 fed-part-eone"><span class="fed-text-muted">分类：</span>{{ movie.type }}</li>
			<li class="fed-col-xs6 fed-col-md3 fed-part-eone"><span class="fed-text-muted">地区：</span>{{ movie.region }}</li>
			<li class="fed-col-xs6 fed-col-md3 fed-part-eone"><span class="fed-text-muted">年份：</span>{{ movie.issueTime }}</li>
			<li class="fed-col-xs6 fed-col-md3 fed-part-eone"><span class="fed-text-muted">更新：</span>{{ movie.updateTime }}</li>
			<li class="fed-col-xs12 fed-hide fed-show-md-block">
				<div class="fed-part-esan">
					<span class="fed-text-muted">简介：</span>{{ movie.details }}</div>
			</li>
		</ul>
	</dd>
	<dd class="fed-deta-button fed-col-xs7 fed-col-sm8 fed-part-rows">
				<a class="fed-deta-play fed-rims-info fed-btns-info fed-btns-green fed-col-xs4" href="/film/play/?name={{ episodes.first.nameMd5 }}&episode={{ episodes.first.episodeMd5 }}">立即播放</a>
			</dd>
</dl>

	</div>
</div>

<div class="fed-tabs-info  fed-rage-foot fed-part-rows fed-part-layout fed-back-whits fed-play-data" data-name="" data-nums="" data-show="">
	<ul class="fed-list-head fed-part-rows fed-padding">
				<li class="fed-tabs-btns fed-part-curs fed-font-xvi fed-mart-v fed-text-green" href="javascript:;">播放列表</li>
{#				<li class="fed-tabs-btns fed-part-curs fed-font-xvi fed-mart-v" href="javascript:;">剧情简介</li>#}
{#				<li class="fed-tabs-btns fed-part-curs fed-font-xvi fed-mart-v" href="javascript:;">发表评论</li>#}
				<li class="fed-part-tips fed-padding"><a class="fed-tabs-errs fed-event fed-more" href="javascript:;" data-href="/gbook/report.html">报错</a></li>
	</ul>
	<div class="fed-tabs-boxs">
				<div class="fed-tabs-item fed-drop-info fed-visible">
{#                <div class="fed-drop-boxs fed-drop-tops fed-matp-v">#}
{#				<ul class="fed-part-rows">#}
{#										<li class="fed-drop-btns fed-padding fed-col-xs3 fed-col-md2">#}
{#						<a class="fed-btns-info fed-rims-info fed-part-eone fed-back-green" href="/vodplay/49431-1-1.html">VIP线路①</a>#}
{#					</li>#}
{#									</ul>#}
{#			</div>#}

			<div class="fed-drop-boxs fed-drop-btms fed-matp-v">
								<div class="fed-play-item fed-drop-item fed-visible">
					<ul class="fed-drop-head fed-padding fed-part-rows">
						<li class="fed-padding fed-col-xs4 fed-part-eone fed-font-xvi">播放集数</li>
					</ul>
					<ul class="fed-part-rows">
                        {% for e in episodes %}
												<li class="fed-padding fed-col-xs3 fed-col-md2 fed-col-lg1">
							<a class="fed-btns-info fed-rims-info fed-part-eone" href="/film/play/?name={{ e.nameMd5 }}&episode={{ e.episodeMd5 }}">{{ e.episode }}</a>
						</li>
                        {% endfor %}
											</ul>
				</div>
							</div>
		</div>
				<div class="fed-tabs-item fed-hidden">
						<p class="fed-padding fed-part-both fed-text-muted">{{ movie.details }}</p>
		</div>
				<div class="fed-tabs-item fed-hidden">
			<div class="fed-comm-info" data-id="49431" data-mid="1"></div>
		</div>
			</div>
</div>
<div class="fed-part-layout fed-back-whits">
	<div class="fed-list-head fed-part-rows fed-padding">
		<h2 class="fed-font-xvi">相关热播</h2>
{#		<ul class="fed-part-tips fed-padding">#}
{#			<li><a class="fed-more" href="/">更多</a></li>#}
{#		</ul>#}
	</div>
		<ul class="fed-list-info fed-part-rows">
            {% for m in r_m %}
				<li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
		<a class="fed-list-pics fed-lazy fed-part-2by3" href="/film/detail/?name={{ m.nameMd5 }}" data-original="{{ m.image }}">
	<span class="fed-list-play fed-hide-xs"></span>
		<span class="fed-list-score fed-font-xii fed-back-green">{{ m.score }}</span>
		<span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">{{ m.updateTo }}</span>
</a>
<a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone" href="/film/detail/?name={{ m.nameMd5 }}" >{{ m.name }}</a>
		</li>
            {% endfor %}
			</ul>
	</div>
</div></div>
{% endblock %}