{% extends 'film/base.html' %}
{% block mainbody %}
<div class="fed-main-info fed-min-width">
<div class="fed-part-case">
<div class="fed-play-info fed-part-rows fed-back-whits fed-marg-top">
	<div class="fed-play-player fed-rage-head fed-part-rows fed-back-black" style="padding-top:56.25%">
		<style type="text/css">@media(max-width:47.9375rem){.fed-play-player{padding-top:56.25%!important}}</style>
		<iframe id="fed-play-iframe" class="fed-play-iframe fed-part-full" frameborder="0" scrolling="no" allowfullscreen="true"
                src="https://api.sigujx.com/?url={{ url }}"></iframe>
	</div>
</div>
</div>
</div>
</div>
{% endblock %}